body{
    font-size: 16px;
}
h1{
    line-height: 2px;
    text-align: center;
    font-family: sans-serif;
    font-weight: 600;
    font-size: 65px;
    color: orange;
}
li{
    font-style: italic;
    background-color: blanchedalmond;
    text-decoration: none;
}
#amarelo{
    background-color: yellow;
}
#vermelho{
    background-color: red;
}
#marrom{
    background-color: brown;
}
.corDeFundo{
    background-color: aqua;
}
p{
    font-size: 3em;
}
